autodoc-pydantic==2.2.0
build==1.2.2.post1
mypy==1.13.0
pre-commit==4.0.1
pydantic==2.10.1
pydata_sphinx_theme==0.16.0
pytest==8.3.3
rich==13.9.4
ruff==0.8.0
setuptools-scm==8.1.0
sphinx<8.2
wheel==0.45.0
