autodoc-pydantic==2.0.1
build==1.0.3
mypy==1.8.0
pre-commit==3.6.0
pydantic==2.6.0
pydata_sphinx_theme==0.15.2
pytest==8.0.0
rich==13.7.0
ruff==0.1.15
setuptools-scm==8.0.4
sphinx==7.2.6
wheel==0.42.0
