autodoc-pydantic==2.0.1
black==23.10.0
build==1.0.3
mypy==1.6.1
pre-commit==3.5.0
pydantic==2.4.2
pydata_sphinx_theme==0.14.1
pytest==7.4.2
rich==13.6.0
ruff==0.1.1
setuptools-scm==8.0.4
sphinx==7.2.6
wheel==0.41.2
